// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$red: #682827;
$blue: #123E4A;
$yellow: #93691C;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$black:  #000000;

